.AppBar {
  display: flex;
  justify-content: flex-end;
  background-color: #333333;
  color: #ffffff;
  font-size: 10pt;
}

.AppBar a {
  padding: 10px;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none
}

.AppBar a:visited {
  color: #ffffff;
  text-decoration: none
}

.AppBar a {
  padding: 10px;
  margin-right: 10px;
}

.AppBar i {
  padding-right: 2px;
  margin-top: 5px;
  display: inline-block;
 vertical-align: middle;
}

.Full {
  color: green;
}

.Provisional {
  color: yellow;
}

.TermsAgreed {
  color: green;
}

.TermsNotAgreed {
  color: Orange;
}

.Notifications {
  color: white;
  background-color: red;
  font-size: 7pt;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 50%;
}
