.Cardholder {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

 /* @media screen and (max-width: 780px) {
  cardholder {
    position: relative;
    flex-direction: column;
  }
} */

.Card {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    background-color: #ffffff;
    height: 350px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 30px;
  }

.Card a, .Card a:hover, .Card a:visited, .Card a:active {
  color: #1E77B6
}

/* On mouse-over, add a deeper shadow */
.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Data {
  padding-top: 20px;
  text-align: center;
}


.Data ul {
  list-style: url();
}
.Data li {
  padding-bottom: 10px;
  display: block !important;
}

/* Add some padding inside the card container */
.Cardcontainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
    padding: 2px 16px;
}

.Cardcontainer a {
  padding-left: 5px;
    font-size: 10pt;
    color: #666666;
}
