.Header {
  display: flex;
  border-bottom: 3px solid #000000;
  height: 65px;
  margin-bottom: 20px;
}

.AppIcon {
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Logo {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 10px;
}

.HeaderUnder480px header {
  height: 50px;
}

.HeaderUnder480px .Avatar img {
  width: 90%
}

.HeaderUnder480px .Logo img {
  width: 80%;
}
