.Header {
  display: flex;
  border-bottom: 3px solid #000000;
  height: 65px;
}

.AppIcon {
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Logo {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.Logo img {
  max-width: 150px;
  max-height: 50px;
}

.HeaderUnder480px header {
  height: 50px;
}

.HeaderUnder480px .Avatar img {
  width: 90%
}

.HeaderUnder480px .Logo img {
  width: 80%;
}

@media screen and (max-width: 660px) {
  .Header {
    display: none;
  }
}

.Donate {
  margin-top:15px;
  margin-right: 15px;
  text-transform: uppercase;
  color: #3f50b5;
  background-color: white;
  padding: 5px;
  font-weight: 600;
  border: 2px solid #3f50b5;
  cursor: pointer;
}
.Donate:hover {
  margin-top:15px;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: #3f50b5;
  padding: 5px;
  border: 2px solid #3f50b5;
}
