.Settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Settings > div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.Settings input, .Settings textarea {
  width: 500px;
}

.Settings .Welcome {
  width: 500px;
}

.SettingsUnder780px input {
  width: 90%;
}