.Settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Settings > div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.Settings input, .Settings textarea {
  width: 500px;
}

.Settings .Welcome {
  margin-top: 20px;
}

.Settings .Welcome ol {
  list-style-type: decimal; 
}

.Settings ol li {
}

.Settings .Error {
  background-color: pink;
  border: 2px solid grey;
  padding: 2px 10px 2px 10px;
}

.Settings .Separator {
  margin-top: 2em;
  color: #222;
} 

.SettingsUnder780px input {
  width: 90%;
}

.Settings .Academic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Settings .Academic .Emoji {
  font-size: 32pt;
  margin-right: 10px;
}

