.NoLabel {
  display: none;
}

.TabBar {
  margin-bottom: 20px;
  height: 48px;
}

.TabBar .Tab span {
  flex-direction: row;
  align-items: normal;
  height: 48px;
}

.Label {
  padding-left: 10px;
}
