.NoLabel {
  display: none;
}

/* .TabBar {
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 40px;
}

.TabBar a {
  color: #000000;
  padding: 5px;
}

.TabBar a:hover {
  color: #cdc9f1;
  background-color: #000000 !important;
}

.TabBar a:active {
  color: #cdc9f1;
  background-color: #000000 !important;
}

.Tab {
  font-size: 16pt;
  font-weight: 500;
  min-width: 120px;
  padding: 6px 24px 6px 6px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 10px;
}

.TabActive {
  color: #cdc9f1 !important;
  background-color: #000000 !important;
} */
