.Trash {
  font-size: 16pt;
  color: #ff0000;
  cursor: pointer;
}

.DeleteSearch {
  margin: 60px 10px 10px 10px;
}

.DeleteSearch .Title {
  font-weight: bold;
  font-style: italic;
}

.DeleteButton {
  text-align: center;
}

.DeleteButton button {
  background-color: pink;
}