.Trends {
  display: flex 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.AddPlace {
  margin-top: 20px;
  text-align: center;
}

/* Medium screens */
@media all and (min-width: 600px) {

  .Trends {
    display: flex;
    flex-direction: row;
  }

  .Welcome {
    margin-top: 300px;
    width: 40%;
  }
}
