.UserList {
  height: 274px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000
}

.UserList::-webkit-scrollbar {
  width: 15px;
  border-bottom: 1px solid #ffffff;
}

.UserList::-webkit-scrollbar-thumb {
  background-color: #0f1282;
}
