.UserList {
}

.UserList .TweetQuota {
  width: 5em;
}

@media screen and (max-width: 660px) {

  .UserList .Avatar, .UserList .Joined, .UserList .Name, .UserList .Searches, .UserList .Tweets {
    display: none;
  }

  .UserList td {
    padding: 5px;
  }

}
