body {
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-size: 18pt; 
}

#content {
  margin: 20px;
}

.form {
  text-align: center;
}

.form input, button {
  font-size: 18pt;
}

.form label {
  font-weight: bold;
}

.form p, ol {
  text-align: left;
}

.form .login {
  background-color: #eee;
  padding: 10px;
  border: solid thin #ccc;
}

/* medium screens */
@media all and (min-width: 600px) {

  .form {
    margin-left: 20%;
    margin-right: 20%;
  }

}

/* Large screens */
@media all and (min-width: 800px) {
}
