.App {
  display: flex 100%;
  margin-left: auto;
  margin-right: auto;
}

.App .Place {
  margin: 10px;
}

.App .Place h3 {
  text-align: center;
}

.App .Place hr {
  width: 60%;
}

.App .Place ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.App .Place li {
  display: inline block;
  padding: 3px;
}

/* Medium screens */
@media all and (min-width: 600px) {

  .App {
    display: flex;
    flex-direction: row; 
  }

  .App .Place {
    width: 30%;
    font-size: 14pt;
  }

}


/* Large screens */
@media all and (min-width: 800px) {
  .App .Place {
    font-size: 16pt;
  }
}
