{% extends "site.html" %}

{% load account socialaccount %}

{% block content %}

<div class="form">

<h1>Sign In</h1>

Please log in or <a href="{{ signup_url }}">sign up</a> to create an account:

<br>
<br>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

    <label for="id_login">E-mail:</label><br>
    <input autofocus="autofocus" id="id_login" name="login" placeholder="E-mail address" type="email" required />
    <br>
    <br>
    <label for="id_password">Password:</label><br>
    <input id="id_password" name="password" placeholder="Password" type="password" required />
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <br>
  <br>

  <button class="primaryAction" type="submit">Sign In</button>
  <br>
  
  </form>

  <br>
  <br>

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> Forgot Password?</a>

  <br>
  <br>

  <a href="{% provider_login_url "twitter" next="/" %}">Sign in</a> with your Twitter account.


</div>

{% endblock %}
