.app {
  font-family: 'Roboto', sans-serif;
}

.app div {
  position: relative;
}

.container {
  margin-top: 20px;
}

.app h2 {
  position: relative;
  text-transform: uppercase;
  color: #444444;
  font-size: 14pt;
  font-stretch: expanded;
  font-weight: 500;
}

.app ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app li {
  display: inline;
}

.appUnder780px li {
  display: block;
  margin: 10;
}
