.App {
  font-family: 'Roboto', sans-serif;
}

.App div {
  position: relative;
}

.Container {
  margin-top: 20px;
}

.App h2 {
  position: relative;
  text-transform: uppercase;
  color: #444444;
  font-size: 14pt;
  font-stretch: expanded;
  font-weight: 500;
}

.App ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.App li {
    display: inline;
}

.AppUnder780px {}

.AppUnder780px li {
    display: block;
    margin: 10;
}
