.App {
  font-family: 'Roboto', sans-serif;
}

.App div {
  position: relative;
}

.Container {
  margin-top: 20px;
}

.App h2 {
position: relative;
text-transform: uppercase;
color: #2E2633;
font-size: 16pt;
font-weight: 500;
}

.App ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.App li {
    display: inline;
}

.AppUnder780px {}

.AppUnder780px li {
    display: block;
    margin: 10;
}
