.Header {
  display: flex;
  background-color: #4A4A4A;
  height: 60px;
  margin-bottom: 20px;
}

.Avatar {
  padding-left: 10px;
  padding-top: 5px;
}

.Logo {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
}

.Logo img {
  max-height: 40px;
}

.HeaderUnder480px {
  height: 50px;
}

.HeaderUnder480px avatar img { width: 90% }
.HeaderUnder480px logo img { width: 80%;}
