.header {
  display: flex;
  background-color: #4A4A4A;
  height: 60px;
  margin-bottom: 20px;
}

.avatar {
  padding-left: 10px;
  padding-top: 5px;
  display: inline;
}

.logo {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}

.headerUnder480px {
  height: 50px;
}

.headerUnder480px avatar img {
  width: 90%
}

.headerUnder480px logo img {
  width: 80%;
}
