.ImagesCard {
  height: 274px;
  background-color: #C8D2D3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Image {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  text-align: center;
}

.Image img {
  width: 95%;
  border: 2px solid gray;
}
