.Intro {
  display: flex;
  flex-direction: column;
  margin-right: 50px !important;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Intro p {
  font-family: 'Roboto:300' serif;
  font-size: 20px;
  font-weight: 200 !important;
  color: #666666;
  margin-top:20px;
  margin-left: 20px;
  align-self: flex-start;
}

.Intro a {
  padding-left: 5px;
  font-size: 10pt;
  color: #666666;
}

.Intro button {
  margin-top: 0px;
}

@media screen and (min-width: 1180px) {
  .Intro button {
    margin-top: -40px;
  }
}
