.Intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Intro p {
  font-family: 'Roboto:400' serif;
  font-size: 20px;
  align-self: flex-start;
  font-weight: 200 !important;
  color: #000000;
  background-color: #cdc9f1;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 20px;
}

.Intro a {
  padding-left: 5px;
  font-size: 10pt;
  color: #666666;
}

.Intro button {
  margin-top: 0px;
}

@media screen and (min-width: 1180px) {
  .Intro button {
    margin-top: -40px;
  }
}

.IntroButtons {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.IntroButtons button {
  margin: 20 10 0 0;
}
