.Intro {
  font-family: 'Roboto:300' serif;
  font-size: 20px;
  font-weight: 200 !important;
  color: #666666;
  margin-top:20px;
  margin-left: 20px;
  align-self: flex-start;
}

.Intro a {
  padding-left: 5px;
    font-size: 10pt;
    color: #666666;
}

.Login  {
  display: flex;
  flex-direction: column;
  margin-right: 50px !important;
  align-items: flex-end;
}

.Login a {
  font-family: 'Roboto:300' serif;
  font-size: 10pt;
  color: #666666;
}

@media screen and (min-width: 1180px) {
  .login button {
    margin-top: -25px;
  }
}
