.SearchBar {
  margin-top: 20px;
  padding-left: 20px;
}

.SearchBar button i {
  padding-left: 0px !important;
}

.Form {
  margin-left: 20px;
}

.Form a {
  font-weight: 200 !important;
  padding-left: 15px;
  font-size: 10pt;
  color: #666666;
}

.SearchBar input {
  font-family: 'Roboto Medium', sans-serif;
  width: 240px;
  height: 36px;
  background: transparent;
  border: none;
  font-size: 14pt;
  line-height: 36px;
  padding-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  box-shadow: 1px 2px 3px 1px rgba(30, 119,182,0.2), 0px 2px 3px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
  margin-right: 5px;
}

.SearchBar input:focus {
  color: #4a4a4a;
  outline: none;
}

time, .Count  {
  font-weight: bold;
  padding: 5px;
  background-color: #efefef;
}
