.SearchBar {
  margin-top: 20px;
  padding-left: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.SearchBar button i {
  padding-left: 0px !important;
}

.Search {
}

.SearchBox {
  overflow: hidden;
  font-family: 'Roboto Medium', sans-serif;
  min-width: 340px;
  background: transparent;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  user-select: none;
  border: thin solid gray;
  box-shadow: 1px 2px 3px 1px rgba(30, 119,182,0.2), 0px 2px 3px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}

.SearchBar:focus {
  color: #4a4a4a;
  outline: none;
}

.Controls {
}

.SearchBar button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.Summary {
  padding: 10px;
  align-self: flex-start;
  margin-right: 10px;
  border: thin solid gray;
  box-shadow: 1px 2px 3px 1px rgba(30, 119,182,0.2), 0px 2px 3px 0px rgba(0,0,0,0.1);
}

time, .Count  {
  font-weight: bold;
}

.SearchTerm {
  padding: 3px;
  border-radius: 6px;
}

.SearchTerm:hover {
  border: 1px solid black;
  cursor: pointer;
}

.Hashtag {
  background-color: lightblue;
}

.Phrase {
  background-color: #cceecc;
}

.Keyword {
  background-color: #ccccee;
}
