.TabBar {
  height: 22px;
  text-transform: uppercase;
  padding-left: 40px;
  display: block;
}

.TabBar a {
  color: #4A4A4A;
}

.TabBar a:hover, a:active {
  color: #1E77B6;
}

.Tab {
  font-size: 14pt;
  font-weight: 500;
  min-width: 120px;
  min-height: 48px;
  padding: 0 24px 0 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
}

.Active {
  color: #1E77B6 !important;
}
