.Textfield {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.Textfield input [type=text] {
  font-family: 'Roboto Medium', sans-serif;
  padding: 8px 8px 8px 8px;
  font-size: 14px;
  width: 200px; /* should be made variable with JS */
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  appearance: none;
}

.TextField input {
  font-family: 'Roboto Medium', sans-serif;
  padding: 8px 8px 8px 8px;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  appearance: none;
}

.Textfield input:focus {
  border-bottom: solid 2px #4a4a4a;
  color: #4a4a4a;
  outline: none;
}

.Textfield label {
  margin-top:5px;
}
