.Trends {
  min-height: 80vh;
  margin: 20px 0px 20px 0px;
   /* Location of the image */
  background-image: url("../images/mapbg.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.Trends a {
    color: #1E77B6;
}


.Trends input {
  border-style: none;
  padding: 2px 2px 2px 2px;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: center;
}

.Trends input option {
  padding: 2px 2px 2px 2px;
  font-size: 14px;
}

.Trends input:disabled {
  color: #666666;
}
