.TweetsCard {
  height: 274px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}

.TweetsCard::-webkit-scrollbar {
  width: 15px;
  border-bottom: 1px solid #ffffff;
}

.TweetsCard::-webkit-scrollbar-thumb {
  background-color: #0f1282;
}

.Tweets {
  background-color: #ffffff;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 10pt;
}

.Tweets p {
  margin: 5px;
  font-size: 11pt;
  color: #000000;
}

.Tweets img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.Tweets a {
  color: #1da1f2;
}

.TweetsProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TweetsName {
  padding-left: 5px;
  padding-right: 10px;
}

.Inline {
  display: inline-block;
  padding-left: 5px;
  font-size: 10pt;
}

.Inline i {
  padding-right: 5px;
}
