.UrlsCard {
  height: 264px;
  background-color: #C8D2D3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Urls {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
