.Webpage {
  width: 350px;
  height: 300px;
  border: thin solid gray;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 11pt;
}

.Unselected {
  border: 5px solid #eee;
  background-color: #eee;
}

.Selected {
  border: 5px groove lightgreen;
}

.Deselected {
  border: 5px groove pink;
}

div.Controls {
  left: 200px;
  top: 10px;
  position: absolute;
}

div.Controls i {
  padding: 10px;
  margin-right: 10px;
  color: black;
  background-color: #eee;
  border: thin solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20pt;
}

.Selected i.Add {
  background-color: lightgreen;
}

i.Add:hover {
  background-color: lightgreen;
}

.Deselected i.Remove {
  background-color: pink;
}

i.Remove:hover {
  background-color: pink;
}

.Image {
  text-align: center;
  position: relative;
  min-height: 200px;
}

.Image img {
  max-width: 350px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.Title {
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

.Unselected .Title {
  background-color: white;
}

.Description {
  text-align: left;
  overflow: auto;
}

.Unselected .Description {
  background-color: white;
}

.Title a {
  color: black;
  text-decoration: none;
}

.Stats {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}

.Count {
}

.WebsiteName {
  padding-left: 10px;
}

.WebsiteName a {
  text-decoration: none;
  color: blue;
}

.Queue {
  margin-top: 10px;
  text-align: right;
  margin-right: 70px;
}
