{% extends "site.html" %}

{% block content %}
<form method="POST">
  <h2>Twitter Configuration</h2>

  <label for="consumer_key">Consumer Key:</label>
  <input size="50" type="text" name="consumer_key" value="{{ settings.TWITTER_CONSUMER_KEY }}">

  <br>

  <label for="consumer_secret">Consumer Secret:</label>
  <input size="50" type="text" name="consumer_secret" value="{{ settings.TWITTER_CONSUMER_SECRET }}">

  <br>
  <br>

  <input type="submit" value="Save">
  {% csrf_token %}
</form>
{% endblock %}
