{% extends "site.html" %}
{% load socialaccount %}

{% block content %}

<div class="form">


{% if request.user.twitter_screen_name %}
<h2>Your Twitter Account</h2>
Your account is linked to Twitter using the account:<br><br>
<a href="https://twitter.com/{{ request.user.twitter_screen_name }}">
  {{ request.user.twitter_screen_name }}
</a>
{% else %}
{% if consumer_key and consumer_secret %}
<h2>Your Twitter Account</h2>
DocNow needs permission to query Twitter's API on your behalf. 
<br>
<br>
<a href="{% provider_login_url "twitter" process="connect" next="/" %}"><button>Link to Twitter</button></a>
{%endif %}
{% endif %}

{% if request.user.is_superuser %}

<form method="POST">
  <h2>Twitter Application Configuration</h2>

  {% if not consumer_key and not consumer_secret %}

  <p>
  Hi Admin 🎉 your DocNow instance needs Twitter application keys to use the 
  Twitter API. 
  Please go to <a href="https://apps.twitter.com">apps.twitter.com</a>,  
  create an application, and enter the keys you are given below.
  </p>
  
  <p>When creating your application please be sure to set the following under
  the <b>Settings</b> tab: 
  <ol>
    <li>Set the <b>Callback URL</b> to <pre>{{ callback_url }}</pre>
    <li>Enable <b>Allow this application to be used to
        Sign in with Twitter</b> so other users will be able to login to your
      DocNow instance using Twitter if they want to.</li>
  </ol>
  </p>

  <hr>

  <br>
  <br>
  {% endif %}

  <label for="consumer_key">Consumer Key:</label><br>
  <input size="50" type="text" name="consumer_key" value="{{ consumer_key }}">
  <br>
  <br>
  <label for="consumer_secret">Consumer Secret:</label><br>
  <input size="50" type="text" name="consumer_secret" value="{{ consumer_secret }}">
  <br>
  <br>
  <input type="submit" value="Save">
  {% csrf_token %}
</form>

{% endif %}
</div>

{% endblock %}
