#header {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  padding-left: 10px;
}

#logo img {
  vertical-align: bottom;
}

#login {
  font-size: 18pt;
  margin-left: auto;
  line-height: 50px;
  padding-right: 10px;
}

#avatar {
  height: 25px;
  vertical-align: middle;
  border: thin solid #ddd;
}