body {
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App h2 {
  position: relative;
  color: #000;
  font-size: 14pt;
  font-stretch: expanded;
  margin-top: 5px;
  margin-bottom: 5px;
}

.App h2 a {
  color: #0f1282;
  text-decoration: none;
}

.App h1 {
  text-transform: uppercase;
}

.App ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App ul li {
  display: inline;
}

.App h1 a:hover {
  color: #0f1282
}

.AppUnder780px li {
  display: block;
  margin: 10;
}

.AppUnder780px main {
  margin: 0px;
}
