.App {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App h2 {
  position: relative;
  text-transform: uppercase;
  color: #444;
  font-size: 16pt;
  font-stretch: expanded;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.App h1 {
  text-transform: uppercase;
}

.App ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App li {
  display: inline;
}

.App h1 a:hover {
  color: #0f1282
}

.AppUnder780px li {
  display: block;
  margin: 10;
}

.AppUnder780px main {
  margin: 0px;
}