.AddPlace {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.AddPlace input {
  padding-bottom: 1em;
}

.AddPlace input::placeholder {
  opacity: 100 !important;
}

.ListPlaces {
  height: 235px;
  overflow-y: scroll;
}