.AddPlace {
  background-color: #ffffff;
  padding-right:  10px;
  opacity: 0.8;
  width: 300px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.AddPlace button {
  margin-left: 5px;
}

.AddPlace input {
  padding: 2px 2px 2px 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12pt;
}

.AddPlace input option {
  padding: 2px 2px 2px 2px;
  font-size: 14px;
}

.AddPlace input:disabled {
  color: #666666;
}
