.Scroll {
  overflow-y: scroll
}

.PlaceHeader {
  text-align: center;
  border-top: thin solid gray; 
}

.Trend {
  display: flex;
}

.TrendTerm {
  flex: 9;
  padding: 0 16px 16px 0
}

.TrendCount {
  flex: 3;
}
