.Trends {
  min-height: 80vh;
  margin: 20px 0px 20px 0px;
  background-image: url("../../images/mapbg.svg");
  background-position: center 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.Trends a {
  color: #1E77B6;
}

.Mobile {
  background-size: 300%;
}

.Mobile p {
  display: none;
}
