.CardLink a {
  color: #000;
}

.WebPreview {
  background-color: #ffffff;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 1em 0 1em 0;
  font-size: 10pt;
  width: 97%;
  border: thin solid gray;
  text-align: center;
}

.WebPreview span {
  display: block;
}