
.WebPreview {
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding-top: 6px;
  font-size: 10pt;
  width: 94%;
  margin-left: 5px;
  border: thin solid rgb(204, 214, 221);
  border-radius: 15px;
  text-align: center;
}

.WebPreview a {
  color: rgb(27, 149, 224);
}
.WebPreview span {
  display: block;
}
