.SavedSearchInfo {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.SavedSearchText {
  flex: 3;
  border: none;
}

.SavedSearchInsightText {
  flex: 3;
  padding: 12px;
  border: none;
  margin-left: 50px;
}

.SavedSearchInsightText i {
  color: #1E77B6;
  font-weight:100;
  font-size: 12pt;
}

.SavedSearchInsightText a {
  color: #000000;
  text-decoration: none;
}

.SavedSearchButtons {
  display: flex;
  align-items: center;
}

.SavedSearchButtons button {
  width: 120px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
