.Holder {
  margin: 45px auto;
  min-height: 250px;
  max-width: 90%;
  column-width: 300px;
  column-count: auto;
  column-gap: 5px;
  padding: 5px 5px 5px 5px;
}

.Controls {
  margin: 45px auto;
  max-width: 80%;
}

.Tile {
  height: 325px !important;
}

.Refresh button {
  font-size: 1.5em;
  margin-right: 1em;
}
