.Webpage {
  height: 500px  
}

.UrlButton {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

.Unselected {
}

.Selected {
  box-shadow: 1px 4px 8px 1px lightgreen;
}

.Selected:hover {
  box-shadow: 0 8px 16px 0 lightgreen;
}

.Deselected {
  box-shadow: 1px 4px 8px 1px pink;
}

.Deselected:hover {
  box-shadow: 0 8px 16px 0 pink;
}

div.Controls {
  left: 180px;
  top: 10px;
  position: absolute;
}

div.Controls i {
  padding: 10px;
  margin-right: 10px;
  color: black;
  background-color: #eee;
  border: thin solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20pt;
}

.Selected i.Add {
  background-color: lightgreen;
}

i.Add:hover {
  background-color: lightgreen;
}

.Deselected i.Remove {
  background-color: pink;
}

i.Remove:hover {
  background-color: pink;
}

.Image {
  text-align: center;
  position: relative;
  min-height: 200px;
}

.Image img {
  max-width: 350px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.Title {
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

.Unselected .Title {
  background-color: white;
}

.Description {
  text-align: left;
  overflow: auto;
}

.Unselected .Description {
  background-color: white;
}

.Title a {
  color: black;
  text-decoration: none;
}

.Stats {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}

.Count {
}

.WebsiteName {
  padding-left: 10px;
  padding-right: 10px;
}

.WebsiteName a {
  text-decoration: none;
  color: blue;
}

.ArchiveError {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
