.ConsentModal p {
  margin: 20px;
}

.Labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Label img {
  height: 250px;
}

.Label {
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.Label:hover {
  box-shadow: 1px 1px 8px 8px lightgreen;
}

.Revoke {
  text-align: center;
}