.Header {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.Header .Logo {
  font-size: 25px;
  font-weight: bold;
}

.Header img {
  vertical-align: middle;
}

.Title {
  text-transform: uppercase;
}

.Description {
  font-size: 110%;
  margin-bottom: 2em;
}

.Metadata {
  display: table
}

.Metadata > div {
  line-height: 2em;
  display: table-row
}

.Label {
  display: table-cell;
  padding-right: 1em;
}

.Query {
  border: 1px solid grey;
  border-radius: .5em;
  padding: .2em;
}