.HashtagChart {
  padding: 5px;
  background-color: #fff;
  height: 800px;
}

.Bar rect {
  fill: #abd6e8;
  stroke: #333;
  stroke-width: 1;
}

text {
  font-size: 10pt;
}

.CanAdd:hover {
  cursor: pointer;
}

.CanAdd:hover rect {
  fill: #1da1f2;
}