.Image {
  background-color: #ffffff;
  margin: 2px;
  padding-bottom: 5px;
  font-size: 10px;
  border: thin solid gray;
  text-align: center;
}

.Image img {
  width: 100%;

}
.Image figcaption {
  font-size: 10pt;
}
