.Summary {
  margin-top: 20px;
  height: 34px;
  width: 340px;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
  border: thin solid gray;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0,0,0.2), 0px 2px 3px 0px rgba(0,0,0,0.1);
}
