.SearchTerm {
  min-width: 5px;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
  background-color: #C8D2D3;
  line-height: 14px;
}

.SearchTerm:hover {
  margin-right: 2px;
  border: 1px solid gray;
  cursor: pointer;
}

.SearchTerm:focus {
  outline: none;
}

.InCard {
  max-width: 170px;
}

.InCard > div{
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Hashtag {
  background-color: lightblue !important;
}

.Phrase {
  background-color: #cceecc !important;
}

.Keyword {
  background-color: #ccccee !important;
}

.User {
  background-color: yellow !important;
}

.Input {
  background-color: white;
  border: none;
  border-radius: none;
  margin: 0px;
  padding: 0px;
}
