.SearchBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.Controls {
  margin-top: 20px;
}

.Controls button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
  padding-top: 5px;
}

.SpinAdj {
  width: 50px;
  height: 35px;
}

time, .Count  {
  font-weight: bold;
}