.SearchBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.Controls {
  margin-top: 20px;
}

.Controls button {
  margin-left: 10px;
  margin-right: 10px;
}

.Controls button i {
  padding-left: 0px !important;
  padding-right: 0px;
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.Spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

time, .Count  {
  font-weight: bold;
}