.SearchTerm {
  outline: none;
  cursor: pointer;
}

input.SearchTerm {
  border: 0 transparent;
  background-color: transparent;
}

.InCard {
  max-width: 170px;
}

.InCard > div{
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Hashtag {
  background-color: lightblue !important;
}

.Phrase {
  background-color: #cceecc !important;
}

.Keyword {
  background-color: #ccccee !important;
}

.User {
  background-color: yellow !important;
}
