.TweetsCard {
  height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}

.TweetsCard::-webkit-scrollbar {
  width: 15px;
  background-color: #eeeeee;
}

.TweetsCard::-webkit-scrollbar-thumb {
  background-color: #000000;
}
