
.Tweet {
  background-color: #ffffff;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 2px;
  font-size: 10pt;
  width: 97%;
  border: thin solid gray;
}

.Tweet p {
  margin: 5px;
  font-size: 10pt;
  color: #333;
}

.Tweet img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.Tweet a {
  color: #1da1f2;
}

.TweetProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TweetName {
  padding-left: 5px;
  padding-right: 10px;
}

.TweetTime {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 9pt;
}

.TweetStats {
  height: 2em;
  border-top: 1px solid #CCCCCC;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Inline {
  display: inline-block;
  padding-left: 5px;
  font-size: 10pt;
}

.Inline i {
  padding-right: 5px;
}
