.UrlList {
  height: 274px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}

.UrlList::-webkit-scrollbar {
  width: 15px;
  background-color: #eeeeee;
}

.UrlList::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.UrlList ul {
  width: 97%;
  background-color: #ffffff;
  margin: 2px;
  padding: 5px;
}

.UrlList li {
  display: block;
  border-bottom: solid 1px #CCCCCC;
  border-radius: 3px;
  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: 5px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.UrlList a {
  color: #1da1f2;
}
