.UrlList {
  background-color: #ffffff;
  padding: 5px
}

.UrlList ul {
  width: 97%;
  margin: 2px;
}

.UrlList li {
  display: block;
  border-bottom: solid 1px #CCCCCC;

  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: 5px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.UrlList a {
  color: #1da1f2;
}
