.User {
  background-color: #ffffff;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 2px;
  font-size: 10pt;
}

.User:hover {
  background-color: lightyellow;
  cursor: pointer;
}

.User img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.User a {
  color: #1da1f2;
}

.UserProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.UserName {
}

.UserHandle {
  color: #1da1f2;
  font-weight: bold;
}

.Inline {
  display: inline-block;
  text-align: center;
  padding-left: 5px;
}

.User p {
  margin: 5px;
  font-size: 10pt;
}

.UserStats {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 30px;
}

.UserCount {
  display: inline-block;
  font-size: 18pt;
  font-weight: bold;
  padding-left: 20px;
  color: #1da1f2;
}
