.User {
  background-color: #ffffff;
  border: thin solid rgb(204, 214, 221);
  margin: 2px;
  margin-top:6px;
  padding: 2px;
  font-size: 10pt;
  width: 96%;
  padding-left: 2px;
  margin-left: 5px;
}

.User img {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.User a {
  color: #1da1f2;
}

.UserProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.UserName {
  padding-left: 10px;
  padding-right: 5px;
  font-weight: bold;
}

.UserHandle {
  padding-right: 2px;
  font-weight: bold;
}

.UserStats {
  height: 2em;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #CCCCCC;
  margin-top: 2px;
  padding-right: 10px;
  align-items: center;
}

.TwitterUserStats {
  height: 3em;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  padding-right: 10px;
  align-items: center;
}

.Inline {
  display: inline-block;
  text-align: center;
  padding-left: 5px;
  font-size: 9pt;
  padding-top: 1px;
  padding-bottom: 1px;
}

.User p {
  margin: 5px;
  font-size: 11pt;
  padding-left: 10px;
}
