.Video {
  background-color: #ffffff;
  margin: 2px;
  padding-bottom: 5px;
  font-size: 10px;
  border: 1px solid #CCCCCC;
  text-align: center;
}

.Video video {
  width: 100%;
}

.Video figcaption {
  font-size: 10pt;
}
